body {
	background: #121212;
	margin: 0 50px;
}
.logo {
	width: 120px;
}
header {
	display: flex;
	justify-content: space-between;
}
ul li {
	display: inline-block;
	margin-right: 34px;
}
ul li a {
	color: #fff;
	list-style: none;
	font-size: 14px;
	text-decoration: none;

}
ul li a:hover {
	color: #584EFF;
	list-style: none;
	font-size: 16px;
	text-decoration: none;

}
.learnarava-text {
	font-family: 'Satisfy', cursive;
	color: #fff;
	font-size: 80px;
	margin-top: 120px;
}
.slogan {
	font-family: 'Satisfy', cursive;
	color: #fff;
	font-size: 20px;
	margin-top: -70px;

}
.subjects-buttons {
	margin-top: 50px;
}
.buttons {
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	width: 140px;
	height: 60px;
	border-radius: 20px;
	margin-right: 34px;
	background-color: #2E8FE7;
	color: #fff;
	border-color: transparent;
}
.buttons:hover {
	font-size: 35px;
	background-color: #6bb2f3;
}
.papers{
	width: 800px;
}
.title {
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	color: #fff;
}